{% set coll = collections.comicPages %}
{% set lastPage = coll[ (coll | length) - 1 ] %}
{% set currentPage = lastPage %}
{% set previousPage = coll | getPreviousCollectionItem(currentPage) %}
{% set nextPage = coll | getNextCollectionItem(currentPage) %}
{% set image_url = currentPage.data.image_url %}
{% include '_includes/comic.njk' %}
