<div
  class="pointer-events-none fixed inset-0 -z-10 h-screen w-screen items-center justify-center overflow-hidden select-none"
>
  <div
    class="h-full w-full font-mono text-xl leading-none [line-height:1] break-words whitespace-pre text-white opacity-10"
  >
    <pre class="text-center">
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣠⣤⡤⠴⠶⠶⠶⠶⠤⣤⣤⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⣀⣀⣀⡀⠀⠀⠀⠀⠀⠀⠀⢀⣠⡴⠞⠋⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠉⠛⠶⣤⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⡾⠋⠀⠀⠉⠙⢳⡶⢤⣤⣠⠞⠋⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠳⢦⡀⠀⠀⢀⣠⡤⠶⠛⠻⣦⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⢰⡇⠀⠀⠀⠀⢠⡟⢀⣴⠟⠁⠀⠀⠀⢀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣴⠇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⢷⣞⣯⡁⠀⠀⠀⠀⠘⡇⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⢸⠃⠀⠀⠀⢠⡟⣴⠟⠀⣴⠂⠀⠀⠀⠸⡇⠀⠀⠀⠀⠀⠀⠀⠀⢀⡟⠀⠀⠀⠀⠀⠀⠀⠀⠲⡄⠀⠀⠀⠙⣯⣷⡄⠀⠀⠀⠀⢻⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⣼⠀⠀⠀⢠⡿⣾⠃⠀⡼⠃⠀⠀⠀⠀⢸⡇⠀⠀⠀⠀⠀⠀⠀⠀⣸⣆⠀⠀⠀⠀⠀⠀⠀⠀⠀⢷⠀⠀⠀⠀⠈⢿⣿⣄⠀⠀⠀⠸⡇⠀⠀⠀⠀⠀⠀
⠀⠀⠀⡇⠀⠀⠀⠈⣻⠃⠀⣼⠁⠀⠀⠀⠀⢀⡴⢿⡀⠀⠀⠀⠀⠀⠀⠀⢹⠘⣧⠀⠀⠀⠀⠀⠀⠀⠀⠈⣧⠀⠀⠀⠀⠈⢿⣿⠆⠀⠀⠀⣧⠀⠀⠀⠀⠀⠀
⠀⠀⠀⡇⠀⠀⠀⣴⡇⠀⣼⠁⠀⠀⠀⢀⡴⠋⠀⠈⢷⡀⠀⠀⠀⠀⠀⠀⢸⠀⠘⢷⡀⠀⠀⠀⠀⠀⠀⠀⠸⡆⠀⠀⠀⠀⠘⣧⠀⠀⠀⠀⢸⡆⠀⠀⠀⠀⠀
⠀⠀⠀⡇⠀⠀⠀⣿⠀⢰⠇⠀⠀⠀⣴⠟⠀⠀⠀⠀⠈⢧⡀⠀⠀⠀⠀⠀⠘⣇⠀⠀⠹⣦⡀⠀⠀⠀⠀⠀⠀⢹⡄⠀⠀⠀⠀⣿⠀⠀⠀⠀⢸⣇⠀⠀⠀⠀⠀
⠀⠀⢸⠃⠀⠀⠀⢿⠀⡿⠀⠀⢀⡞⠁⠀⠀⠀⠀⢀⣀⣈⠻⣄⠀⠀⠀⠀⠀⢻⡀⠀⠀⣈⣿⣦⠀⠀⠀⠀⠀⠀⢳⡀⠀⠀⠀⢹⡇⠀⠀⠀⠀⢹⠀⠀⠀⠀⠀
⠀⠀⢸⠀⠀⠀⠀⢹⢸⠃⠀⣰⠏⠀⠀⠀⢀⣴⡿⠿⣿⣿⣿⣯⡳⣤⡀⠀⠀⠀⢧⣴⡿⠛⢿⣿⣿⣦⣀⠀⠀⠀⠈⢷⣄⠀⠀⣾⠁⠀⠀⠀⠀⠸⡆⠀⠀⠀⠀
⠀⠀⣾⠀⠀⠀⢀⣼⣿⢀⡾⢻⠀⠀⠀⠀⣼⡟⠀⢀⣿⣿⣿⣿⣿⠈⠙⠶⣄⡀⠈⠿⣀⣀⣾⣿⣿⣿⣿⡷⢤⣀⠀⠈⢻⣷⣀⡿⠀⠀⠀⠀⠀⠈⣇⠀⠀⠀⠀
⠀⠀⣿⠀⠀⠀⢸⣿⣷⠞⠀⣾⠀⠀⠀⠠⣿⣿⣿⣿⣿⣿⣿⣿⣿⠀⠀⠀⠀⠙⢷⣶⣿⣿⣿⣿⣿⣿⣿⠇⠀⡟⠛⢦⣄⣻⣿⠁⠀⠀⠀⠀⠀⠀⢹⡀⠀⠀⠀
⠀⠀⡏⠀⠀⠀⢸⣿⣿⠀⠀⣿⠀⠀⠀⠀⠙⢻⣿⣿⣿⣿⣿⣿⠏⠀⠀⠀⠀⠀⠈⠻⢿⣿⣿⣿⣿⣿⠟⠀⠀⢿⠀⠀⢸⣿⡟⠓⠀⠀⠀⠀⠀⠀⢸⡇⠀⠀⠀
⠀⠀⡇⠀⠀⠀⠸⣧⣹⡄⠀⣿⠀⠀⠀⠀⠀⠀⠀⠉⠉⠉⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠉⠉⠁⠀⠀⠀⠀⢸⡆⢀⣿⠟⢧⠀⠀⠀⠀⠀⠀⠀⠸⣷⠀⠀⠀
⠀⢰⡇⠀⠀⠀⠀⠀⠉⣿⠀⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⢧⣼⠃⠀⢸⠀⣆⠀⠀⠀⠀⠀⠀⢻⠀⠀⠀
⠀⢸⠀⠀⠀⠀⠀⠀⢸⣻⡄⣿⠳⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠒⠒⠒⠒⠒⠂⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⡴⢿⡟⠀⠀⢸⠀⣿⡄⠀⠀⠀⠀⠀⢸⣇⠀⠀
⠀⢸⠀⠀⠀⠀⠀⠀⣸⠀⣷⣿⠀⠈⠳⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣠⣴⣞⣉⣀⣘⠁⠀⠀⠘⡆⡏⣷⠀⠀⠀⠀⠀⠈⣿⠀⠀
⠀⢸⠀⠀⠀⠀⠀⠀⡟⠀⠸⠟⠀⠀⠀⠈⠓⢦⣄⠀⠀⠀⠀⠀⠀⠀⠀⢀⣀⣀⣠⣤⣤⠴⠖⠚⠋⢹⣿⣟⠙⣝⣙⢿⢷⣦⡀⣿⠇⠸⡄⠀⠀⠀⠀⠀⢻⡄⠀
⠀⡼⠀⠀⣀⠀⠀⢀⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠉⢛⡶⠚⠋⠉⠉⠉⢻⣏⣀⡇⠀⠀⠀⠀⠀⠀⠀⣿⢻⣆⠀⠀⢰⣼⣿⣿⡟⠀⠀⣧⠀⠀⠀⠀⠀⠀⡇⠀
⠀⡇⠀⣰⢿⠀⠀⢸⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⡇⠀⠀⠀⠀⠀⣾⠁⠉⢷⠀⠀⠀⠀⠀⠀⠀⢻⣿⣿⣶⣾⣿⣿⣿⣿⣿⡀⠀⢸⡆⠀⠀⣷⣄⠀⢻⠀
⠀⡇⣰⠃⢸⠀⠀⣿⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢨⣇⣀⡀⠀⠀⠀⣇⠀⠀⠘⣧⠀⠀⠀⠀⠀⠀⢸⣿⣿⣿⡿⢾⣟⣿⣳⣾⡇⠀⠈⣧⠀⠀⢻⠘⢦⢸⡀
⢀⣷⠃⠀⢸⠀⠀⢸⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⡏⠉⠉⠉⠙⠛⠻⡆⠀⢠⡟⠓⠒⢲⣦⢶⡶⣿⣿⣿⣏⣀⣀⣙⣋⣸⠉⠀⠀⠀⢹⠀⠀⢸⠀⠈⢳⣧
⠘⠃⠀⠀⠈⣇⠀⢸⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣷⣤⣤⣤⣤⣤⣴⣿⣄⣼⠶⠶⠖⢾⣿⡶⢶⣾⣿⣿⡯⠉⠉⠩⣿⡿⠀⠀⠀⠀⢸⡇⠀⡿⠀⠀⠀⠛
⠀⠀⠀⠀⠀⢹⡄⢸⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣿⣥⠀⠀⠀⢸⣿⣿⣿⠁⠀⠀⣸⣿⣿⣿⣿⠙⠻⣿⣄⣠⣿⣿⠇⠀⠀⠀⠀⠸⡇⢀⡇⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⢻⣾⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣿⣏⣀⠀⢀⣾⣿⡀⣿⣇⣷⣿⣿⣿⣿⣿⡿⠀⠀⢻⣿⣿⣿⠏⠀⠀⠀⠀⠀⠀⣇⣸⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⢻⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠛⠛⢟⡛⠛⢛⣿⢿⡇⠻⣅⣀⣀⡿⠛⠿⠀⠀⠀⠀⠀⠙⠛⠁⠀⠀⠀⠀⠀⠀⢀⣿⠇⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠉⠉⠀⠀⠀⠀⠀⠉⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⠋⠀⠀⠀⠀⠀⠀

*        .     .       *     .       *       ✦       *    *
  *    ⋆     .       *     ✵        *        .     .       *
*        .     .       *     .       *       ✦       *    *
  *    ⋆     .       *     ✵        *        .     .       *
    </pre>
  </div>
</div>
