<footer class="mx-auto w-full shadow-inner">
  <div class="container w-full px-4 py-6 text-center text-sm text-gray-500">
    "Social Norms are fucking depressing.<br />
    Call me rigid, I can't adapt to this Bullshit."<br />
    -- Mx. Bread Evil
  </div>
</footer>
