<footer class="mx-auto w-full shadow-inner">
  <div class="container w-full px-4 pb-4 text-center text-sm text-gray-500">
    "Social Norms are fucking depressing.<br />
    Call me RIGID, I can't adapt to this BULLSHIT.💃🕺"<br />
    -- Mx. Bread Evil
  </div>
</footer>
